.image-top {
    /* background-color: black; */
    opacity: 0.9;
}

.banner-head {
    position: absolute;
    bottom: 35%;
}

.join {
    background-color: #289BDE;
    height: 300px;
    width: 100%;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #161616;
}








/* RESPONSIVE */
@media only screen and (max-width: 767px) {
    .company {
        display: none;
    }
}