.image-top {
    /* background-color: black; */
    opacity: 0.9;
}

.banner-head {
    position: absolute;
    bottom: 35%;
}

.common-button {
    background-color: #289BDE;
}



.uncommon-button {
    background-color: #fff;
    color: #289BDE;
}

.join {
    background-color: #289BDE;
    height: 300px;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #161616;
}








/* RESPONSIVE */
@media only screen and (max-width: 358px) {
    .heading {
        font-size: 12px;
    }

    .banner-head {
        bottom: 0%;
    }

    .pera {
        font-size: 8px;
    }

    .company {
        display: none;
    }
}

@media only screen and (min-width: 358px) and (max-width: 440px) {
    .heading {
        font-size: 15px;
    }

    .banner-head {
        bottom: 0%;
    }

    .pera {
        font-size: 10px;
    }

    .company {
        display: none;
    }
}

@media only screen and (min-width: 440px) and (max-width: 768px) {
    .company {
        display: none;
    }

    .heading {
        font-size: 20px;
    }

    .banner-head {
        bottom: 0%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .banner-head {
        bottom: 0%;
    }
}